# Dependencies
node_modules/
package-lock.json

# Environment variables
.env

# IDE and Editor files
.vscode/
.idea/
*.swp
*.swo

# Logs
logs
*.log
npm-debug.log*

# Operating System
.DS_Store
Thumbs.db
